.navbar-brand {
  max-width: 30%;
  margin-right: 2rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 50%;
}

.navbar {
  background-image: linear-gradient(to right, #4285F4, #4FC3F7, #1CE9B6,#00BFA5 );
}

.site-footer {
  background-image: linear-gradient(#B3E5FC, white);
  padding: 20px 0;
  margin-top: 2rem;
}